<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenGL_YUV_detec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E5DBC101ECED377009C5DE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E5DBC291ECED377009C5DE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E5DBC341ECED377009C5DE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
